/*==============================================================*/
/*   RESET CSS and global properties                            */
/*==============================================================*/

progress,sub,sup{vertical-align:baseline;}button,hr,input{overflow:visible;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;}audio:not([controls]){display:none;height:0;} [hidden],template{display:none;}a{background-color:transparent;-webkit-text-decoration-skip:objects;}a:active,a:hover{outline-width:0;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background-color:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;}sub{bottom:-.25em;}sup{top:-.5em;}img{border-style:none;}svg:not(:root){overflow:hidden;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0;}button,input,select,textarea{font:inherit;margin:0;}optgroup{font-weight:700;}button,input{}button,select{text-transform:none;}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button;}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}textarea{overflow:auto;}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0;}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto;}[type=search]{-webkit-appearance:textfield;outline-offset:-2px;}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-input-placeholder{color:inherit;opacity:.54;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}

.clearfix::after{
  visibility:hidden;
  display:block;
  content:" ";
  clear:both;
  height:0;
}

html {
  box-sizing:border-box;
}

*,*::before,*::after{
  box-sizing:inherit;
}

/*==============================================================*/
/*   Global project properties                                  */
/*==============================================================*/

body {
  background-image: url("../img/vieux-montreal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding: 0 4%;
  
}

/*==============================================================*/
/*   Main Header section                                        */
/*==============================================================*/

.main-header-section {
  position:fixed;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 15vh;
  max-height: 15vh;
  color: black;
  background: white;
  width: 100vw;
}

.logo img {
  float: right;
  padding-right: 10%;
}

.main-menu {
  padding-left: 5%;
}

.company-name { /* div */
  font-family: 'Alex Brush', cursive;
  font-size: 3em;
  color: black;
  text-align: center;
}

.main-menu {
  text-align: right;
}

.logo, .company-name, .main-menu { /* div */
  -webkit-box-flex: 1 100%;
  -moz-box-flex: 1 100%;
  flex: 1 100%;
  max-width: 33%;
  max-width: 50%;
  max-height: 100%;
}


.main-header-section .main-menu { /* div */
  -webkit-box-flex: 1 100%;
  -moz-box-flex: 1 100%;
  flex: 1 100%;
}

.main-menu-content li {
  list-style-type: none;
  background-color: white;
  background: white;
}

.main-menu-content li a {
  background: white;
}

.box {
  width: 220px;
  background: white;
  padding: 0 40px 0 0px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  text-align: left;
  line-height: 25px;
}
.box.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.tab {
  position: absolute;
  right: -30px;
  background: white;
  color: black;
  padding: 30px 0px 20px 0px;
}

@media (max-width: 500px) {
    .box {
      width: 110px;
      background: white;
      padding: 5px 20px 5px 0px;
      position: relative;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transform: translateY(2%);
      transform: translateY(2%);
      text-align: left;
      line-height: 20px;
    } 

    .tab {
      position: absolute;
      right: 0px;
      background: white;
      color: black;
      padding: 30px 0px 20px 0px;
    }

    .fa-bars {
      visibility: hidden;
    }
}


/*==============================================================*/
/*   Main screen section                                        */
/*==============================================================*/

.container {
  max-width: 900px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;

}

.container > * {
  -webkit-box-flex: 1 100%;
  -moz-box-flex: 1 100%;

  flex: 1 100%;
}


.main-title-section, .gallery, .info-and-contact, .write-to-us {
  padding-bottom: 10%;
  min-height: 65vh;
  background: #FEDA7C;
  color: black;
}

.main-title-section, .gallery, .info-and-contact {
  padding-top: 140px;
 }

.info-and-contact img {
  min-width: 80%
}

.main-title-section img {
  -webkit-box-flex: 1 100%;
  -moz-box-flex: 1 100%;
  flex: 1 100%;
  max-width: 100%;
  max-height: 100%;
}

.about-us-section {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  color: black;
}

.about-us-section h3 {
  min-width: 100%;
}

.subject {
  -webkit-box-flex: 1 20%;
  -moz-box-flex: 1 20%;
  flex: 1 20%;
}


.footer {
  font-size: 0.7em;
  background: black;
  color: grey;
}


/*@media all and (min-width: 600px) {

}

@media all and (min-width: 800px) {
  .main-title {
    flex: 3 0px;
  }

  .main-title {
    order: 2;
  }

  .footer {
    order: 4;
  }
}
*/

@media (max-width: 1300px) {
  .main-header-section .logo img { 
    max-width: 90%;
    max-height: 90%;
  }

  .main-header-section .company-name {
    font-size: 2.5em;
    text-align: center;
  }
}

@media (max-width: 800px) {

  .main-header-section .company-name {
    font-size: 2em;
    text-align: center;
  }


  .subject {
    -webkit-box-flex: 1 100%;
    -moz-box-flex: 1 100%;

    flex: 1 100%;
  }
}


@media (max-width: 430px) {

  .main-header-section .logo img { 
    display: none;
  }  

  .main-header-section {
    font-size: 0.75em;
    text-align: center;
  }

  .company-name, .info-and-contact, .write-to-us {
    font-size: 0.65em;
    text-align: center;
  }

  
  
  .subject {
    -webkit-box-flex: 1 100%;
    -moz-box-flex: 1 100%;

    flex: 1 100%;
  }
}

/* =============== */
/* Form management */

form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
  width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
  font-size: 90%;
}
fieldset {
  border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  width: 80%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 400px) {
  form > div {
    margin: 0 30px 15px 60px; 
  }
  form > div > label,
  legend {
    width: 90%;
    float: none;
    margin: 0 30px 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 90%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 90%; 
  }
}